<div class="popup" id="successPublic">
  <h2>Phát hành thành công!</h2>
  <hr>
  <p>Mã tham gia: {{participationCode}}</p>
  <p>mật khẩu: {{password}}</p>
  <button class="accept-button" onclick="accept_public()">Xác nhận</button>
</div>

<button onclick="openPopup()">Mở cửa sổ</button>

<script>
  function openPopup() {
    document.getElementById("successPublic").style.display = "block";
    document.body.classList.add("popup-active");
  }

  function accept_public() {
    document.getElementById("successPublic").style.display = "none";
    document.body.classList.remove("popup-active");
  }

</script>