<div class="user-profile">
    <div class="settings-container">
        <div class="card">
            <h4 class="text-center" style="color: #064050">CÀI ĐẶT</h4>
            <div class="section">
                <hr>
                <form method='POST' action=''>
                    <div class="form-group">
                        <label for="name">Họ và tên*  <span class="badge">Giáo viên</span></label>
                        <input type="text" id="name" class="form-control" placeholder="Bùi Khánh Linh" value="{{this.name}}" >
                    {{!-- </div> --}}
                    <p></p>
                    {{!-- <div class="form-group"> --}}
                        <label for="dob">Ngày tháng năm sinh *</label>
                        <input type="text" id="dob" class="form-control" placeholder="29/02/2003" value="{{this.dob}}">
                    {{!-- </div> --}}
                    <p></p>
                    {{!-- <div class="form-group"> --}}
                        <label for="gioi_tinh">Giới tính *</label>
                        <input type="text" id="gioi_tinh" class="form-control" placeholder="Nữ" value="{{this.gioi_tinh}}">
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>

                </form>
                <button type="submit" class="btn btn-third">Cập nhật hồ sơ</button>

            </div>

        </div>
    </div>
</div>


