<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Hồ sơ</h2>
      <p>Tên: {{user.name}}</p>
      <p>Email: {{user.email}}</p>
      <p>Số điện thoại: {{user.phone}}</p>
    </div>
    <div class="col-md-6">
      <h2>Ảnh đại diện</h2>
      <img src="{{user.avatar}}" alt="Ảnh đại diện">
    </div>
  </div>
</div>

