@charset "UTF-8";
h1 {
  color: #438c43; }

h2 {
  color: #438c43; }

.card-course-item {
  margin-top: 16px; }

/* SIDEBAR */
.sidebar {
  width: 250px;
  /* Set the width for the sidebar */
  height: 100vh;
  /* Full height */
  position: fixed;
  /* Fix the position */
  top: 0;
  left: 0;
  background-color: white;
  /* Background color */
  padding: 1rem;
  /* Uniform padding */
  color: #064050;
  /* Text color */ }
  .text-left {
    font-weight: bold;
    text-align: left;
}
.sidebar h4 {
  margin-bottom: 0;
  color: #064050;
  /* Text color */ }

.sidebar p {
  margin-top: 0;
  font-size: 0.9rem;
  color: #064050;
  /* Text color */ }

.sidebar .profile {
  margin-top: 1rem;
  border-top: 1px solid #95C8D8;
  /* Top border */
  padding-top: 1rem;
  /* Padding above profile section */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center align items horizontally */
  color: #064050;
  /* Text color */ }

.sidebar .profile h6 {
  margin: 0;
  font-size: 1rem;
  color: #064050;
  /* Text color */ }

.sidebar .profile .custom-badge {
  font-size: 0.8rem;
  background-color: #A1E0F9;
  /* New background color */
  color: #064050;
  /* Text color */ }

.nav-link {
  color: #064050;
  font-size: 1rem; }

.nav-link:hover {
  color: #05343c;

  /* Hover color */ }
  .nav-item:hover {
    background-color: #e9ecef; /* Change the background color of the nav-item on hover */
  }
  
.nav-link.active {
  font-weight: bold; /* Apply bold font weight to the active nav link */
}


.content {
  margin-left: 250px;
  /* Space for the sidebar */
  padding: 1rem; }

/* HOME*/
body {
  background-color: #B0E0E6;
  /* Light blue background */ }

.input-group {
  display: flex;
  justify-content: space-between; }

.input-group .form-control {
  width: calc(100% - 150px); }

.input-group .btn {
  width: 150px;
  background-color: #CFEFFF;
  /* Button background color */
  color: #064050;
  /* Button text color */
  border: None;
  border-radius: 0; }

.input-group .btn:hover {
  width: 150px;
  background-color: #b3cedc;
  /* Button background color */
  color: #064050;
  /* Button text color */
  border: None;
  border-radius: 0; }

.btn-tao {
  width: 150px;
  background-color: #CFEFFF;
  /* Màu nền của nút */
  color: #064050;
  /* Màu chữ của nút */
  border: none; }

.btn-tao:hover {
  background-color: #b5d0de;
  /* Màu nền của nút khi di chuột qua */ }

.card-course-item {
  background-color: #E3F8FF;
  /* Card background color */
  border: 1px solid #A1E0F9;
  /* Card border color */ }

.card-course-item .card-title {
  color: #064050;
  /* Card title color */
  font-weight: bold; }

.card-course-item .card-text {
  color: #000000;
  /* Card text color */ }

.custom-badge {
  background-color: #A1E0F9;
  /* Badge background color */
  color: #064050;
  /* Badge text color */
  font-size: 0.9rem; }

.btn-primary {
  margin-top: 70px;
  background-color: #91C0E7;
  /* Button background color */
  border: none; }

.btn-primary:hover {
  background-color: #749ab9;
  /* Button hover color */ }

.btn-secondary {
  margin-top: 70px;
  background-color: #B3B8BB;
  /* Secondary button background color */
  border: none; }

.btn-secondary:hover {
  background-color: #868a8c;
  /* Secondary button hover color */ }



