* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #A1E0F9;
}

/* .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.time-remaining {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.settings-icon img {
    width: 24px;
    height: 24px;
}

.main-content {
    display: flex;
    margin-top: 20px;
}

.exam-info {
    /* flex: 1; */
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
    height: 390px;
    width: 20rem;
}


.exam-info h2 {
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.question-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.question-btn {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.question-btn:hover {
    background-color: #CCF1FF;
    color: black;
}

.finish-btn {
    background-color: #437ba1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
}

.finish-btn:hover {
    background-color: #1e6477;
}

.question-answer-section {
    flex: 2;
}

.question, .answer {
    background-color: #CCF1FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question h3, .answer h3 {
    margin-bottom: 5px;
}

.question p, .answer p {
    line-height: 1.6;
}

.textbox {
    width: 100%;
    height: 200px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    /* padding: 10px; */
    resize: none; /* Prevent resizing */
    margin-bottom: 20px;
}
#bailam{
    height: 500px;
}