
<div id="question-folder-modal" >
    <div class="modal-header">
      <span class="modal-title">Thư mục câu hỏi</span>
      <button class="close-button">×</button>
    </div>
    <div class="search-container">
      <input type="text" placeholder="Tìm kiếm thư mục..." class="search-bar">
    </div>
    <div id="folderList">
        {{#each questionList}}
            <div class="folder" data-folder-index="{{@index}}">

                <div class="folder-icon"></div>
                <div class="folder-info">
                  <div class="folder-name">{{name}}</div>
                  <div class="folder-details">
                    ≡ {{questionCount}} câu hỏi 📚 {{subject}}
                  </div>
                </div>

            </div>
            
        {{/each}}
    </div>
</div>
