.container {
  display: flex;
  flex-direction: row; /* Arrange the child elements in a row */
  width: 2750px;
}


.main-content {
  width: 100%; /* Adjust the width as needed */
  padding: 20px;
  background-color: #ccf1ff; /* Background color for the main content */
}

.main-content h2 {
  color: #2c3e50; /* Heading color for the main content */
  text-align: center;
}

.question {
  border: 1px solid #b2bec3; /* Question card border color */
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ccf1ff; /* Question card background color */
  border-radius: 8px; /* Add rounded corners to the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.question h3 {
  margin-top: 0;
  color: #2980b9; /* Question heading color */
}

.content {
  margin-top: 10px;
}

.content label {
  display: block;
  margin-bottom: 5px;
  color: #2c3e50; /* Label color */
}

.content input[type="text"] {
  width: 100%;
  background-color: #A1E0F9;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.criteria {
  margin-top: 10px;
}

.criteria .criterion {
  margin-bottom: 10px;
}

.criteria label {
  display: block;
  margin-bottom: 5px;
  color: #2c3e50; /* Label color */
}

.criterion-input {
  width: 100%;
  background-color: #A1E0F9;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #437ba1; /* Button background color */
  color: white; /* Button text color */
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #2980b9; /* Button hover background color */
}



.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust the width to make it smaller */
  height: auto;
  background-color: #ecf0f1; /* Modal background color */
  z-index: 1000; /* Ensure it's above other elements */
}

.modal-content {
  background: #ccf1ff;
  padding: 10px; /* Reduce padding to make it more compact */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust the width as needed */
  background: #427ba1; /* Notification background color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  align-self: center;
  z-index: 1000; /* Ensure it's above other elements */
  text-align: center; /* Center the text inside the notification */
}
