<form method='POST' action=''>
  <div class='form-group'>
      <label for='search-input'>Full name:</label><br>
      <input type='text' name='fullname' placeholder='Full name' class='form-control' id='search-input' aria-describedby='emailHelp'><br>
      <label for='search-input'>Birth date:</label><br>
      <input type='text' name='birthdate' class='form-control' id='search-input' aria-describedby='emailHelp' placeholder='Birth date'><br>
   </div>

   <div class='form-group'>
      <label for='select-input'>Gender:</label><br>
      <select type='text' class='form-control' name='gioi-tinh'>
         <option value=''>--Select gender--</option>
         <option value='male'>Male</option>
         <option value='female'>Female</option>
      </select><br>
   </div>

   <button type='submit' class='btn btn-primary'>Search</button>
</form>